.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }

    &__error {
      margin: 0 0 $m-size $s-size;
      font-style: italic;
      font-weight: bolder;
    }
}